name: Upload to YouTube

on:

  push:
    branches:
      - main

  workflow_dispatch:

jobs:

  build:
    if: "contains(github.event.head_commit.message, 'publish')"
    
    runs-on: ubuntu-latest

    steps:

      - name: checkout this repo
        uses: actions/checkout@v2

      - name: Setup YouTube Uploader
        uses: AnimMouse/setup-youtubeuploader@v1
        with:
          client_secrets: ${{ secrets.CLIENT_SECRETS_B64 }}
          request_token: ${{ secrets.REQUEST_TOKEN_B64 }}


      - name: Run YouTube Uploader
        run: |
            youtubeuploader \
              -debug \
              -secrets $RUNNER_TEMP/client_secrets.json \
              -cache $RUNNER_TEMP/request.token \
              -filename test_video.mp4  \
              -metaJSON metadata.json   \
              -metaJSONout metaout.json \

      - name: output metadata returned
        run: |
            cat metaout.json